{{template "base" .}}

{{define "title"}} Publication #{{.Publication.ID}}{{end}}

{{define "main"}}
{{with .Publication}}
<div class="publication">
    <div class="metadata">
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class="metadata">
        <time>Created: {{humanDate .Created}}</time>
        <time>Expires: {{humanDate .Expires}}</time>
    </div>
</div>
{{end}}
{{end}}